.containerBase {
  position: relative;
}

.vimeo {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
  z-index: 2;
}

.test {
  width: 100%;
  height: 400px;
  background: yellow;
}

.wrapperFill {
  width: 100%;
  height: 100%;
  position: relative;
}
.wrapperFill > div {
  background: blue;
}

.iframe {
  /* object-fit: cover;
  object-position: center; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.iframe #player {
  background: blue;
}
