// Rename file to dev.env.js and replace the values

// DESTINATION_DIRECTORY is the directory that the processed files in the dist/ folder are sent to. The directory should be in the node_modules of the target project 
module.exports.DESTINATION_DIRECTORY =
  '<REPLACE WITH PATH TO DESTINATION DIRECTORY>/node_modules/responsive-image-react/dist/';
// Eg., '../../MY_PROJECT/node_modules/responsive-image-react/dist/'
